@model IEnumerable<GigHub.Models.Gig>
@{
    ViewBag.Title = "Mine";
}
<h2>My Upcoming Gigs</h2>
<ul class="gigs voffset4">
    @foreach (var gig in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("dd")
                </div>
            </div>
            <div class="detail">
                <span class="artist">
                    @gig.Venue                  
                </span>
                <span class="genre">
                    @gig.Genre.Name                    
                </span>
                <div class="actions">
                    <a href="@Url.Action("Edit", "Gigs", new { id = gig.Id })">Edit | </a>
                    <a href="#" class="js-cancel-gig" data-gig-id ="@gig.Id">Cancel</a>
                </div>
            </div>

        </li>
    }
</ul>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script>
        $(document).on("click", ".js-cancel-gig", function(e) {
            var link = $(e.target);
            bootbox.dialog({
                message: "Are you sure want to delete this gigs ?",
                title: "Confirm",
                buttons: {
                    cancel: {
                        label: "No",
                        className: "btn-default",
                        callback: function() {
                            bootbox.hideAll();
                        }
                    },
                    ok: {
                        label: "Yes",
                        className: "btn-danger",
                        callback: function() {
                            $.ajax({ url: "/api/gigs/" + link.attr("data-gig-id"), methood: "DELETE" })
                                .done(function() {
                                    link.parents("li")
                                        .fadeOut(function() { $(this).remove(); });
                                })
                                .fail(function() { alert("Something failed!") });
                        }
                    }
                }


            });
        });
    </script>
}

